*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block_result{
    display: none;
}

.show{
    display: block;
}


.average_result{
    opacity: 0;
}

.showByOpacity{
    opacity: 1;
}